*{
  box-sizing: border-box;  
margin: 0%;
padding: 0%;
color: blue;
}


header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px 8%;
   
}
.style-navbar{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap: 20px;
list-style: none;
}
.style-header{
    position: fixed;
width: 100%;
}

li, a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
color:  rgb(9, 9, 70)
}
.imgg{
    width: 20%;
}